@page "/Orders/SaleConfirmed"

<center>
    <h3>Pedido Confirmado</h3>
    <img src="images/Shopping.png" width="300" />
    <p>Su peidido ha sido confirmado. En pronto recibirá sus productos, muchas gracias</p>
    <a href="/" class="btn btn-primary">Volver al inicio</a>
</center>
